.trainingPage{
    padding: 60px 30px;
    position: relative;
    width: 100%;
    .trainingPageContent{
        background: #fff;
        border-radius: 20px;
        padding: 40px 0px;
    }

    .tabsContainer {
        width: 100%;
        max-width: 900px;
        margin: 40px auto;
        border-radius: 10px;
        background: #fff;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        .tabsHeader {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            background: var(--primaryColor); 
            .tabButton {
                flex: 1;
                padding: 14px 10px;
                text-align: center;
                font-weight: 600;
                color: white;
                background: transparent;
                border: none;
                cursor: pointer;
                transition: all 0.3s ease;
            }
            .tabButton:hover {
                background: rgba(255, 255, 255, 0.1);
            }
            .tabButton.active {
                background: var(--secondaryColor);
                color: #fff;
                border-bottom: 2px solid var(--primaryColor);
            }
        }
        .tabContent {
            padding: 25px 20px;
            color: var(--blackColor);
            line-height: 1.6;
            .pageText{
                font-size: 18px;
            }
            .title{
                font-size: 20px;
                font-weight: 600;
                margin-bottom: 5px;
                font-family: var(--textFamily);
            }
            ul{
                margin-left: 20px;
                // margin-top: 10px;
                list-style: none;
                font-family: var(--headingFamily);
                font-size: 16px;
                li{
                    margin-bottom: -10px;
                    &::before{
                        content: '•';
                        color: var(--secondaryColor);
                        display: inline-block;
                        width: 1em;
                        margin-left: -1em;
                        font-size: 30px;
                    }
                }
            }
        }

        @media (max-width: 768px) {
            .tabsHeader {
                flex-direction: column;
            }

            .tabButton {
                border-bottom: 1px solid rgba(255, 255, 255, 0.2);
            }

            .tabButton:last-child {
                border-bottom: none;
            }

            .tabContent {
                padding: 20px 15px;
            }
        }
    }
}